/* Variables colors */

// header
$header-gradient-top: #a458ec;
$header-gradient-bottom: #785edd;

// calculations list
$gray-light: #252b3b;
$gray-dark: #212838;
$gray-super-light: #2f3447;

//taxes
$brown-super-light: #d0b298;
